.titulo {
    text-align: center;
    color: orange;
    margin: 30px 0;
    font-size: 2.5rem;
}

.listaProductos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.tarjeta {
    background: #333;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: .3s;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
}

.tarjeta:hover {
    transform: scale(1.05);
}

.imagen {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.tarjeta h2 {
    margin: 10px 0;
    color: orange;
}

.tarjeta p {
    margin: 6px 0;
}